
.navbar {
    width: 98%;
    height: 60px;
    border: grey 1px solid;
    border-radius: 10px;
    margin: 15px;
    padding-top: 25px;
    text-align: center;
}

.navbar .nav-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    width: 20%;
}

.navbar .nav-links {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    width: 60px;
}

.navbar .nav-actions {
    text-align: right;
    width: 30%;
    display: inline-block;
}